@media only screen and (max-width: 600px) {
  * {
      cursor: pointer;
  }
  .weather-card-day {
    width: 75vw !important;
    display: list-item !important;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  .daily-weather {
    width: 75vw !important;
    display: list-item !important;
    margin-bottom: 10px;
  }

  .weather-card-day > h1 {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .daily-weather > h1 {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
}

@media only screen and (min-width: 600px) {
  ul {
    padding-left: 0px !important;
  }
  
}

.weather-card-day {
  background-color: rgb(174, 223, 253);
  display: inline-block;
  width: 225px;
  cursor: pointer;
  opacity: 0.9;
}

.daily-weather {
  background-color: lightskyblue;
  display: inline-block;
  width: 200px;
  opacity: 0.9;
}

.weekly-weather-button {
  padding: 10px 22px;
  border-radius: 2px;
  border: none;
  background: #EC4E20;
  color: #FFF;
  box-shadow: 1px 1px 4px #333;
  cursor: pointer;
}

.location-button {
  padding: 10px 22px;
  border-radius: 2px;
  border: none;
  background: #EC4E20;
  color: #FFF;
  box-shadow: 1px 1px 4px #333;
  cursor: pointer;
}

.modal-close-button {
  float: right;
  border-radius: 2px;
  border: none;
  height: 25px;
  margin-left: 10px;
  background: #EC4E20;
  color: #FFF;
  box-shadow: 1px 1px 4px #333;
  cursor: pointer;
}

.zip-button {
  border-radius: 2px;
  border: none;
  background: #EC4E20;
  color: #FFF;
  box-shadow: 1px 1px 4px #333;
  cursor: pointer;
}

ul {
  /*padding-left: 0px ;*/
  list-style-type: none;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



