.weather-card-day {
  background-color: lightskyblue;
  display: inline-block;
  width: 225px;
  cursor: pointer;
  opacity: 0.9;
}

.daily-weather {
  background-color: lightskyblue;
  display: inline-block;
  width: 225px;
  opacity: 0.9;
}

button {
  padding: 10px 22px;
  border-radius: 2px;
  border: none;
  background: #EC4E20;
  color: #FFF;
  box-shadow: 1px 1px 4px #333;
  cursor: pointer;
}

ul {
  padding-left: 0px ;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
